/* 
#343454
#e4e3e8
#5ea0fe
#6679fb
#9663f9
*/
:root {
   --text-dark: #343454;
   --text-light: #5ea0fe;
   --text-lighter: #e4e3e8;
   --primary: #9663f9;
   --primary-lighter: #6679fb;
   --primary-gradient: linear-gradient(to right, #6679fb, #9663f9);
}
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}
body {
   font-family: Poppins, sans-serif;
   position: relative;
   background-color: white !important;   
   box-sizing: border-box;
}
button,
a {
   all: unset;
   font: inherit;
   cursor: pointer;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
}
button:focus {
   outline: revert
}
ol, ul {
   margin: 0 !important;
   padding: 0 !important;
}
/* ************************************************************************************* */
/* Login y SingUp */
/* #logIn{
   display: none;
} */
.banner {
   height: 3rem;
   width: 100%;
   background: var(--primary-gradient);
   position: fixed;
   top: 0%;
   left: 0%;
}
.form-wrapper {
   margin: 15vh auto;
   max-width: 460px;
   background-color: var(--text-lighter);
   box-shadow: 8px 8px 6px 1px rgba(0, 0, 0, 0.15);
   border-radius: 20px;
   padding: 22px;
}
.form-wrapper-singup {
   margin: 9vh auto;
   width: 60rem;
   background-color: var(--text-lighter);
   box-shadow: 8px 8px 6px 1px rgba(0, 0, 0, 0.15);
   border-radius: 20px;
   padding: 1rem 2rem;
}
.logo-container {
   width: 3rem;
   height: 3rem;
   margin-bottom: 2.2rem;
}
.logo-container img {
   width: 100%;
   height: 100%;
   display: block;
}
.form-wrapper > h2,
.form-wrapper-singup > h2 {
   margin-bottom: 0.1rem;
}
.form-wrapper > p,
.form-wrapper-singup > p {
   font-size: 0.875rem;
   font-weight: 500;
   color: var(--text-light);
   margin-bottom: 2rem;
}
.input-container,
.input-container-signUp {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin-bottom: 1rem;
}
.form-group,
.form-group-singUp {
   display: flex;
   flex-direction: column;
   gap: 0.2rem;
}
.password {
   flex-flow: column nowrap !important;
}
.password input[type="password"] {
   width: calc(100% - 1.8rem);
   margin-right: .5rem;
}
.password > i {
   cursor: pointer;
   color: #6679fb;
   font-weight: bolder;
}
.password > .bi-eye-slash {
   margin-left: .5rem;
}
.form-group label,
.form-group-singUp label {
   font-size: 0.9375rem;
   font-weight: 600;
   color: var(--text-dark);
}
.form-group input,
.form-group-singUp input {
   font-size: 0.875rem;
   font-weight: 500;
   color: var(--text-dark);
   padding: 0.5rem;
   border: 2px solid var(--primary-lighter);
   border-radius: 0.3rem;
   width: calc(100% - 1.8rem);
}
.form-group input:focus,
.form-group-singUp input:focus {
   border: 2px solid var(--primary-lighter);
}
.new-user {
   cursor: default;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: center;
   font-size: .8rem;
   gap: .3rem;
   margin-bottom: .8rem;
}
.links-login {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   font-size: 0.875rem;
   font-weight: 500;
}
.links-login a {
   color: var(--primary);
   text-decoration: none;
}
.links-login a:hover {
   color: var(--primary);
   text-decoration: underline;
}
.login-btn {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.6rem;
   font-weight: 500;
   padding: 0.5rem 0;
   border-radius: 0.5rem;
   color: var(--text-lighter);
   background: var(--primary-gradient);
}
.login-btn:hover {
   opacity: 0.9;
}
.terms-conditions {
   display: flex;
   justify-content: space-between;
   font-size: 0.875rem;
   font-weight: 500;
}
.terms-conditions a {
   color: var(--primary);
   text-decoration: none;
}
.terms-conditions a:hover {
   text-decoration: underline;
}
.politicas-text {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   gap: 3px;
   font-size: .8rem;
}
.politicas-text > a:hover {
   color: var(--primary);
   text-decoration: underline;
}
.back-login {
   cursor: pointer;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: center;
   font-size: .8rem;
   padding-top: .5rem;
   margin-top: 1rem;
   border-top: 1px solid var(--primary-lighter);
}
.back-login > p {
   color: var(--text-darker);
   font-size: 0.8rem;
   font-weight: 600;
   display: flex;
   gap: .5rem;
}
.back-login > p > a {
   text-decoration: none;
   color: var(--primary);
}
.back-login > p > a:hover {
   text-decoration: underline;
}
.footer {
   height: 3rem;
   width: 100%;
   color: var(--text-lighter);
   background: var(--primary-gradient);
   position: fixed;
   bottom: 0%;
   left: 0%;
   text-align: center;
   padding: .5rem 0;
}
/* *********************************************************************************** */
.content {
   display: none;
}
/* Contenido Desktop */
/* Barra de Navegación Lateral */
nav {
   position: fixed;
   z-index: 10;
   width: 5rem;
   margin: .6rem;
   height: calc(100vh - 1.5rem);
   background-color: var(--text-dark);
   padding: 1rem .75rem;
   border-radius: .75rem;
   display: flex;
   flex-direction: column;
   transition: width 500ms ease;
}
.sidebar-header,
.sidebar-links,
.sidebar-bottom {
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
.sidebar-header{
   margin-bottom: 1.5rem;
}
.logo-wrapper {
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 1.25rem;
   text-decoration: none;
   font-family: Poppins, sans-serif;
   color: var(--text-lighter);
}
.logo-wrapper > img {
   width: 3.25rem;
   height: 3.25rem;
   background-color: var(--text-lighter);
   padding: .4rem;
   border-radius: .5rem;
}
.logo-wrapper:hover {
   color: var(--text-lighter);
}
.sidebar-links {
   flex-direction: column;
   margin-bottom: auto;
   gap: .6rem;
   padding: 1.5rem 0;
}
nav > .sidebar-links {
   border-top: 1px solid var(--text-lighter);
}
.link {
   display: flex;
   justify-content: center;
   padding: .5rem;
   border-radius: .5rem;
}
.link > i {
   font-size: 1.4rem;
   color: var(--text-lighter);
   font-weight: bold;
}
.link:hover {
   background-color: var(--text-lighter);
   color: var(--text-dark);
   & i {
      color: var(--text-dark);
   }
}
.sidebar-bottom {
   flex-flow: column;
   border-top: 1px solid var(--text-lighter);
   padding-top: 1rem;
}
/* Contenido Principal */
.contenido-principal { 
   border-radius: .75rem;
   position: absolute;
   left: 6rem;
   height: auto;
   margin: .6rem 0;
   width: 93%;
   background-color: #667afb70;
   color: var(--text-lighter);
}
.contenido-home {
   margin: 1rem;
}
.titulo-home {
   background-color: var(--text-dark);
   height: auto;
   margin: .6rem;
   padding: .5rem;
   border-radius: .55rem;
   color: var(var(--text-lighter));
   text-align: center;
   font-family: Poppins, sans-serif;
   font-weight: bold;
   line-height: 2;
}
.contenedor-areas {
   margin: 0 .1rem !important;
   height: auto;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   align-items: center;
}
.contenedor-areas > .area {
   height: 350px;
   width: 500px;
   border-radius: .8rem;
   color: var(--text-dark);
   text-align: center;
   font-family: Poppins, sans-serif;
   font-weight: bold;
   font-size: 1.5rem;
   text-decoration: none;
   margin: 0 .5rem;
}
.contenedor-areas .area-maestros {
   background-image: linear-gradient(
      rgba(52, 52, 84, 0.5),
      rgba(94, 160, 254, 0.5)
      ), url("../assets/img/istockphoto-1126620460-612x612.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.contenedor-areas .area-alumnos {
   background-image:linear-gradient(
      rgba(52, 52, 84, 0.5),
      rgba(94, 160, 254, 0.5)
      ), url("../assets/img/huma-h-yardim-5LvC-QX0OOc-unsplash.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.contenedor-areas .area-materias {
   background-image:linear-gradient(
      rgba(52, 52, 84, 0.5),
      rgba(94, 160, 254, 0.5)
      ), url("../assets/img/annie-spratt-gLNBpYGzQ-U-unsplash.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.contenedor-areas > .area-maestros:hover {
   background-image: linear-gradient(rgba(52, 52, 84, 1),rgba(52, 52, 84, 0.5)), url("../assets/img/istockphoto-1126620460-612x612.jpg");
   color: #e4e3e8;
}
.contenedor-areas > .area-alumnos:hover {
   background-image: linear-gradient(rgba(52, 52, 84, 1),rgba(52, 52, 84, 0.5)),  url("../assets/img/huma-h-yardim-5LvC-QX0OOc-unsplash.jpg");
   color: #e4e3e8;
}
.contenedor-areas > .area-materias:hover {
   background-image: linear-gradient(rgba(52, 52, 84, 1),rgba(52, 52, 84, 0.5)), url("../assets/img/annie-spratt-gLNBpYGzQ-U-unsplash.jpg");
   color: #e4e3e8;
}
#contenido-maestros,
#contenido-alumnos,
#contenido-materias {
   display: none;
}
.tabs-container-maestros,
.tabs-container-alumnos,
.tabs-container-materias {
   width: auto;
   display: flex;
   margin: .5rem !important;
   padding: 1rem !important;
   overflow: hidden;
   border-radius: .7rem;
}
.tabs-maestros,
.tabs-alumnos,
.tabs-materias {
   position: relative;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
   list-style-type: none;
   width: 30%;
   height: auto;
   background-color: white;
   border-radius: 1rem 0 0 1rem;
}
.tabs-maestros a {
   position: relative;
   display: flex;
   justify-content: start;
   align-items: center;
   text-decoration: none;
   text-align: left;
   font-size: 1.2rem;
   font-weight: 600;
   color: var(--text-dark);
   overflow: hidden;
   height: 5rem;
   padding: 0px 24px;
   margin-left: .5rem;
   gap: 16px;
}
.tabs-maestros a i {
   font-size: 1.8rem;
}
.tabs-maestros .active, .tabs-maestros a:hover {
   font-weight: 700;
   outline: none;
   color: var(--primary);
   border-right: 5px solid var(--primary);
   background-color: #f3f3f5;
   border-radius: .5rem 0 0 .5rem;
}
.tabs-alumnos a {
   position: relative;
   display: flex;
   justify-content: start;
   align-items: center;
   text-decoration: none;
   text-align: left;
   font-size: 1.2rem;
   font-weight: 600;
   color: var(--text-dark);
   overflow: hidden;
   height: 5rem;
   padding: 0px 24px;
   margin-left: .5rem;
   gap: 16px;
}
.tabs-alumnos a i {
   font-size: 1.8rem;
}
.tabs-alumnos .active, .tabs-alumnos a:hover {
   font-weight: 700;
   outline: none;
   color: var(--primary);
   border-right: 5px solid var(--primary);
   background-color: #f3f3f5;
   border-radius: .5rem 0 0 .5rem;
}
.tabs-materias a {
   position: relative;
   display: flex;
   justify-content: start;
   align-items: center;
   text-decoration: none;
   text-align: left;
   font-size: 1.2rem;
   font-weight: 600;
   color: var(--text-dark);
   overflow: hidden;
   height: 5rem;
   padding: 0px 24px;
   margin-left: .5rem;
   gap: 16px;
}
.tabs-materias a i {
   font-size: 1.8rem;
}
.tabs-materias .active, .tabs-materias a:hover {
   font-weight: 700;
   outline: none;
   color: var(--primary);
   border-right: 5px solid var(--primary);
   background-color: #f3f3f5;
   border-radius: .5rem 0 0 .5rem;
}
.tab-content-wrapper-maestros,
.tab-content-wrapper-alumnos,
.tab-content-wrapper-materias {
   overflow-y: hidden;
   overflow-x: auto;
   background-color: white;
   height: 550px;
   width: 100%;
   color: var(--text-dark);
   transition: all 0.45s ease-in-out;
   padding: 12px 24px;
   border-radius: 0 1rem 1rem 0;
}
.tab-content-maestros h2 {
   color: var(--text-dark);
   font-size: 1.3rem;
   font-weight: 600;
   margin-top: 0;
   margin-bottom: 1rem;
   padding-bottom: 1rem;
   border-bottom: var(--primary) 2px solid;
}
.tab-content-alumnos h2 {
   color: var(--text-dark);
   font-size: 1.3rem;
   font-weight: 600;
   margin-top: 0;
   margin-bottom: 1rem;
   padding-bottom: 1rem;
   border-bottom: var(--primary) 2px solid;
}
.tab-content-materias h2 {
   color: var(--text-dark);
   font-size: 1.3rem;
   font-weight: 600;
   margin-top: 0;
   margin-bottom: 1rem;
   padding-bottom: 1rem;
   border-bottom: var(--primary) 2px solid;
}
.tab-content-maestros,
.tab-content-alumnos,
.tab-content-materias {
   display: block;
   font-size: 1rem;
   width: auto;
   height: 540px;
   transition: all 0.45s ease-in-out;
}
.notificaciones {
   background-color: var(--primary-lighter);
   height: 230px;
   margin: .6rem;
   padding: .6rem;
   border-radius: .55rem;
   color: var(--text-lighter);
   text-align: center;
   font-family: Poppins, sans-serif;
   line-height: 2;
}
.notificaciones > h2 {
   font-size: 1.5em;
   font-weight: bold;
}
.notificaciones > h3 {
   font-size: 1rem;
   margin-bottom: 1.5rem;
}
.novedades{
   width: 80%;
   margin: auto;
   display: block;
   font-size: 1rem;
   padding-bottom: 5rem;
}
.texto-opiniones{
   width: 100%;
   margin: auto;
   display: block;
   font-size: 1rem;
}
.carousel-indicators button {
   background-color: var(--text-lighter) !important;
}
/* ********************************************************** */

/* Contenido Dispositivos Móviles */
/* Navbar dispositivos pequeños */
.navigation__group {
   gap: 6px;
   height: 80px;
   padding: 0 16px;
   background-color: #343454;
   width: 100%;
   margin: 0;
   display: flex;
   align-items: center;
   color: white;
}
.navigation__group .icon {
   width: 48px;
   height: 48px;
   padding: 6px;
   transition: all 0.2s 
       ease-in-out;
   border-radius: 50%;
   font-size: 30px;
   font-weight: bolder;
   margin: 0;
   line-height: 1.1;
}
.navigation__group > 
 button:nth-child(1) {
   margin-right: auto;
}
 .navigation__group .icon:hover, 
 .navigation__group button:focus {
   background-color: #3e3e3e;
   border-radius: 50%;
 }
 .profile {
   display: block;
   width: 44px;
   height: 44px;
   cursor: pointer;
   border-radius: 50%;
 }
 .menu-lateral {
   background-color: #e4e3e8;
   color: #343454;
   height: 100vh;
   display: flex;
   flex-direction: column;
   max-width: 350px;
   width: 100%;
   padding: 16px 24px;
   right: 0;
   top:0;
   position: fixed;
   z-index: 10;
   box-shadow: 
   rgba(100, 100, 111, 0.2)
   0px 7px 29px 0px;
   animation: fadeInAnimation 
   ease-in-out 0.5s forwards;
 }
 .menu-lateral__content {
   display: flex;
   flex-direction: column;
   gap: 15px;
   border-top: 1px solid #343454;
 }
 .inicio {
   margin-top: 1rem;
   
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 1rem;
 }
 .menu-link {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 1rem;
 }
 .menu-link > span > i {
   font-size: 1.3rem;
 }
 .menu-lateral--headline {
   display: flex;
   width: 100%;
   justify-content: space-between;
   margin-bottom: .5rem;
 }
 .menu-lateral--headline > h2 {
   margin: 0;
 }
 .none {
   display: none;
 }
 .hide {
   opacity: 0;
   visibility: hidden;
   animation: fadeOutAnimation
       ease-in-out 0.5s forwards;
 }
 @keyframes fadeInAnimation {
   0% {
       opacity: 0;
       visibility: hidden;
       width: 0px;
   }
   100% {
       opacity: 1;
       visibility: visible;
       width: 350px;
   }
 }
 @keyframes fadeOutAnimation {
   0% {
       opacity: 1;
       width: 350px;
       visibility: visible;
   }
   100% {
       opacity: 0;
       width: 0px;
       visibility: hidden;
   }
 }

/* Contenido Principal */
.contenido-principal-mobile {
   background-color: white;
   height: auto;
   width: 100%;
   margin: 0;
}
.titulo-home-mobile {
   background-color: #343454;
   height: auto;
   padding: .5rem;
   margin: .6rem;
   border-radius: .55rem;
   color: #e4e3e8;
   text-align: center;
   font-family: Poppins, sans-serif;
   font-weight: bold;
   line-height: 2;
}
.contenido-home-mobile {
   background-color: #343454;
   margin: 0 .6rem;
   padding: 1.5rem;
   height: auto;
   border-radius: .55rem;
   color: #e4e3e8;
}
.contenido-home-mobile .row {
   display: flex;
   justify-content: space-around;
}
.contenedor-areas-mobile,
.contenedor-botones-mobiles {
   gap: 10px;
}
.contenedor-areas-mobile > .area-mobile {
   background-color: #e4e3e8;
   height: 150px;
   margin-bottom: 10px;
   border-radius: .8rem;
   color: #16164d;
   text-align: center;
   font-family: Poppins, sans-serif;
   font-weight: bold;
}
.contenedor-areas-mobile .area-maestros {
   background-image: linear-gradient(
      rgba(52, 52, 84, 0.5),
      rgba(94, 160, 254, 0.5)
      ), url("../assets/img/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg");
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
}
.contenedor-areas-mobile .area-alumnos {
   background-image:linear-gradient(
      rgba(52, 52, 84, 0.5),
      rgba(94, 160, 254, 0.5)
      ), url("../assets/img/kenny-eliason-zFSo6bnZJTw-unsplash.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.contenedor-areas-mobile .area-materias {
   background-image:linear-gradient(
      rgba(52, 52, 84, 0.5),
      rgba(94, 160, 254, 0.5)
      ), url("../assets/img/element5-digital-OyCl7Y4y0Bk-unsplash.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.contenedor-areas-mobile > .area-maestros:hover {
   background-image: linear-gradient(rgba(52, 52, 84, 1),rgba(52, 52, 84, 0.5)), url("../assets/img/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg");
   color: #e4e3e8;
}
.contenedor-areas-mobile > .area-alumnos:hover {
   background-image: linear-gradient(rgba(52, 52, 84, 1),rgba(52, 52, 84, 0.5)),  url("../assets/img/kenny-eliason-zFSo6bnZJTw-unsplash.jpg");
   color: #e4e3e8;
}
.contenedor-areas-mobile > .area-materias:hover {
   background-image: linear-gradient(rgba(52, 52, 84, 1),rgba(52, 52, 84, 0.5)), url("../assets/img/element5-digital-OyCl7Y4y0Bk-unsplash.jpg");
   color: #e4e3e8;
}
.contenedor-botones-mobiles {
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.contenedor-botones-mobile > .boton-mobile {
   height: 45px;
   border-radius: .7rem;
   text-align: center;
   font-family: Poppins, sans-serif;
   font-size: 1rem;
   margin-bottom: .8rem;
}
.contenedor-botones-mobile .crear-alta {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/agence-olloweb-Z2ImfOCafFk-unsplash.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.contenedor-botones-mobile .modificar-alta {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.contenedor-botones-mobile .buscar-alta {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/kimberly-farmer-lUaaKCUANVI-unsplash.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.contenedor-botones-mobile .eliminar-alta {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/unseen-studio-s9CC2SKySJM-unsplash.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.contenedor-botones-mobile > .boton-mobile:hover {
   box-shadow: 8px 8px 6px 1px rgba(0, 0, 0, 0.3);
   transition: scale 0.2s ease;
   scale: 1.05;
}
.bottom-home-mobile {
   background-color: #6679fb;
   height: auto;
   margin: .6rem;
   padding: .5rem;
   border-radius: .55rem;
   color: #e4e3e8;
}



/*
 * 230px-480px: Dispositivos Móviles
 * 481px - 768px: iPads, Tablets
 * 769px - 1024px: Pantallas pequeñas, laptops
 * 1025px - 1200px: Computadoras de escritorio, pantallas grandes
 */
@media (min-width: 230px) and (max-width: 480px) {
   .form-wrapper {
         margin: 15vh auto;
         width: 90%;
   }
   .div-mobile{
      display: block;
   }
   .div-desktop{
      display: none;
   }
}
@media (min-width: 481px) and (max-width: 768px) {
   .form-wrapper {
      margin: 15vh auto;
      width: 90%;
   }
   .div-mobile{
      display: block;
   }
   .div-desktop{
      display: none;
   }
}
@media (min-width: 769px) and (max-width: 1024px) {
   .div-mobile{
      display: none;
   }
   .div-desktop{
      display: block;
   }
}
@media (min-width: 1025px) {
   .div-mobile{
      display: none;
   }
   .div-desktop{
      display: block;
   }   
}